In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from bokeh.io import output_notebook
import numpy as np
from bokeh.plotting import figure

In [49]:
#Reading dataset
df = pd.read_csv('fev17.csv')

d:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (4,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
#Identifying all columns
df.columns =['id', 'Tipo do produto', 'Finalidade', 'Origem', 'Destino', 'Data serviço', 'Dia', 'Hora serviço', 'Localidade destino', 'UF destino', 'CSP', 'Grupo horário', 'Categoria', 'Serviço da fatura', 'Serviço configurado', 'Chamada', 'Particular', 'Código UE', 'Nome UE', 'Quantidade', 'Qtde tarifada', 'Unidade', 'Valor fatura', 'Dia vencimento', 'Indicador comparação ok', 'Valor retarifado', 'Matricula', 'Fatura', 'Funcionário', 'Prestadora', 'Evento tarifário', 'Item glosado', 'Percentual de ICMS', 'Valor líquido calculado', 'Nota fiscal', 'CNPJ cliente', 'Motivo produto não cadastrado', 'Tipo de serviço', 'Coletor', 'Rota de entrada', 'Rota de saída', 'Número do contrato', 'Localidade de origem', 'UF de origem', 'Mês', 'Ano']

In [4]:
#Checking the first two lines
df.head(2)

,id,Tipo do produto,Finalidade,Origem,Destino,Data serviço,Dia,Hora serviço,Localidade destino,UF destino,...,Motivo produto não cadastrado,Tipo de serviço,Coletor,Rota de entrada,Rota de saída,Número do contrato,Localidade de origem,UF de origem,Mês,Ano
0,490491,CELULAR,NaN,81999741361,81999940229,01/02/2017,QUA,16:23:25,PERNAMBUCO (81),PE,...,NaN,CELULAR,NaN,NaN,NaN,NaN,----VERIFICAR NO DICIONAR,NaN,2,2017
1,490539,CELULAR,NaN,81999940048,81999940041,16/01/2017,SEG,09:59:30,PERNAMBUCO (81),PE,...,NaN,CELULAR,NaN,NaN,NaN,NaN,----VERIFICAR NO DICIONAR,NaN,2,2017

In [51]:
#Replacing the decimal mark to '.' and thousand mark to empty
df['Valor fatura'] = df['Valor fatura'].str.replace('.','')
df['Valor fatura'] = df['Valor fatura'].str.replace(',','.')
df['Qtde tarifada'] = df['Qtde tarifada'].str.replace('.','')
df['Qtde tarifada'] = df['Qtde tarifada'].str.replace(',','.')

In [6]:
#Checking types
df.dtypes

id                                 int64
Tipo do produto                   object
Finalidade                       float64
Origem                             int64
Destino                           object
Data serviço                      object
Dia                               object
Hora serviço                      object
Localidade destino                object
UF destino                        object
CSP                                int64
Grupo horário                    float64
Categoria                         object
Serviço da fatura                 object
Serviço configurado               object
Chamada                           object
Particular                        object
Código UE                         object
Nome UE                           object
Quantidade                         int64
Qtde tarifada                     object
Unidade                           object
Valor fatura                      object
Dia vencimento                     int64
Indicador comparação ok          float64
Valor retarifado                  object
Matricula                         object
Fatura                            object
Funcionário                       object
Prestadora                        object
Evento tarifário                  object
Item glosado                     float64
Percentual de ICMS                object
Valor líquido calculado           object
Nota fiscal                        int64
CNPJ cliente                       int64
Motivo produto não cadastrado     object
Tipo de serviço                   object
Coletor                          float64
Rota de entrada                  float64
Rota de saída                    float64
Número do contrato               float64
Localidade de origem              object
UF de origem                     float64
Mês                                int64
Ano                                int64
dtype: object

In [52]:
#Changing type of some attributes so I can work on it
df.Origem = df.Origem.astype(object)
df['Valor fatura'] = df['Valor fatura'].astype(float)
df['Data serviço'] = pd.to_datetime(df['Data serviço'], format='%d/%m/%Y')
df['Hora serviço'] = pd.to_datetime(df['Hora serviço'], format='%H:%M:%S')
df['Qtde tarifada'] = df['Qtde tarifada'].astype(float)

In [8]:
#Checking types once again
df.dtypes

id                                        int64
Tipo do produto                          object
Finalidade                              float64
Origem                                   object
Destino                                  object
Data serviço                     datetime64[ns]
Dia                                      object
Hora serviço                     datetime64[ns]
Localidade destino                       object
UF destino                               object
CSP                                       int64
Grupo horário                           float64
Categoria                                object
Serviço da fatura                        object
Serviço configurado                      object
Chamada                                  object
Particular                               object
Código UE                                object
Nome UE                                  object
Quantidade                                int64
Qtde tarifada                           float64
Unidade                                  object
Valor fatura                            float64
Dia vencimento                            int64
Indicador comparação ok                 float64
Valor retarifado                         object
Matricula                                object
Fatura                                   object
Funcionário                              object
Prestadora                               object
Evento tarifário                         object
Item glosado                            float64
Percentual de ICMS                       object
Valor líquido calculado                  object
Nota fiscal                               int64
CNPJ cliente                              int64
Motivo produto não cadastrado            object
Tipo de serviço                          object
Coletor                                 float64
Rota de entrada                         float64
Rota de saída                           float64
Número do contrato                      float64
Localidade de origem                     object
UF de origem                            float64
Mês                                       int64
Ano                                       int64
dtype: object

In [9]:
#Identifying Heavy Users
valoresOrigem = df.pivot_table(index='Origem', values='Valor fatura', aggfunc=np.sum).sort_values(ascending=False)
valoresOrigem

Origem
9999999999     9438.31
81997285859     612.59
81997285888     583.52
81994023290     511.48
81994034859     487.98
81996011136     487.04
81997573939     466.72
81994097305     412.87
81992859808     368.93
81996789735     346.59
81992851373     304.44
81997900019     301.11
81998229991     290.71
81996959970     268.75
81999281634     262.27
81997289977     238.58
81994144316     233.38
81999045684     224.68
81996074895     202.47
81999540414     199.54
81996959954     194.64
81999366456     194.59
81995660400     189.59
81995180545     176.03
81994168190     170.20
81994195113     166.09
81997285958     159.69
81996949743     154.81
81999274183     153.43
81996158514     153.24
                ...
81994073793       6.90
81994046001       6.90
81992632233       6.90
81991625024       6.90
81992137182       6.90
81992302317       6.90
81992320415       6.90
81992388129       6.90
81992446276       6.90
81992623208       6.90
81993049220       6.90
81992668099       6.90
81992680005       6.90
81992698268       6.90
81992719115       6.90
81992842377       6.90
81991237333       6.90
81992876932       6.90
81992966686       6.90
81992996569       6.90
81991826320       6.90
81997340282       5.98
87991574325       5.96
81999465518       5.02
81992838321       4.61
81999264455       3.21
81991662640       1.27
81995230333       0.24
81989741108       0.24
81995397372       0.24
Name: Valor fatura, dtype: float64

In [10]:
#Identifying Heavy Destinies
valoresDestino = df.pivot_table(index='Destino', values='Valor fatura', aggfunc=np.sum).sort_values(ascending=False)
valoresDestino

Destino
8132172623       386.05
81996011136      335.33
81992859808      335.12
81996789735      308.89
81992851373      303.56
401              262.33
81999281634      247.11
81996959970      213.59
7133707300       168.61
81996011136      129.89
11980485833      122.55
8132172624       109.50
81996031830      107.81
8132172611       106.76
71999875015       93.43
81994084933       78.58
81996158514       78.51
81996159288       78.02
81997900019       76.49
81996017950       76.48
81999045684       76.10
81999940098       75.55
81991696558       75.14
81999942422       74.64
81996050304       74.57
81999281725       73.91
81996156251       73.70
81996445642       73.58
81995180545       73.14
81999960309       73.05
                  ...
81991361220.0      0.00
88981086174.0      0.00
81991356801        0.00
81991354921        0.00
81991442007        0.00
81991347617        0.00
81991344525        0.00
81991335774.0      0.00
81999991537        0.00
81991330373        0.00
88996510199.0      0.00
81991371204.0      0.00
81991375841        0.00
81991376788        0.00
81991406892        0.00
81991430532        0.00
81991426252        0.00
81991420779        0.00
87999987798        0.00
81992431037        0.00
81991413762        0.00
87999992206        0.00
87999994672        0.00
81991399422        0.00
81991391512        0.00
87999994204        0.00
81991385385        0.00
81991380540        0.00
81991826017        0.00
9999999999       -82.00
Name: Valor fatura, dtype: float64

In [11]:
#Identifying cost per date
valoresData = df.pivot_table(index='Data serviço', values='Valor fatura', aggfunc=np.sum).sort_index(ascending=False)
valoresData

Data serviço
2017-02-08    27406.91
2017-02-07      464.63
2017-02-06      745.05
2017-02-05      499.02
2017-02-04      435.86
2017-02-03     1245.90
2017-02-02     1166.10
2017-02-01     1245.92
2017-01-31     1293.42
2017-01-30     1116.89
2017-01-29      419.04
2017-01-28      505.98
2017-01-27     1101.27
2017-01-26     1270.36
2017-01-25     1299.32
2017-01-24     1198.24
2017-01-23     1069.37
2017-01-22      232.10
2017-01-21      376.45
2017-01-20      942.30
2017-01-19     1693.41
2017-01-18     1144.53
2017-01-17       95.46
2017-01-16       46.90
2017-01-15       63.55
2017-01-14        9.49
2017-01-13       13.50
2017-01-12       56.00
2017-01-11      827.78
2017-01-10       32.34
2017-01-09       46.70
2017-01-08        7.24
2017-01-07        2.33
2017-01-06        1.77
2017-01-03        1.77
2016-12-12        0.00
2016-12-11        0.00
2016-12-08        0.00
2016-08-26      592.52
2016-07-18      302.00
Name: Valor fatura, dtype: float64

In [12]:
#Identifying Heavy Services
servicosCusto = df.pivot_table(index='Serviço da fatura', values='Valor fatura', aggfunc=np.sum).sort_values(ascending=False)
servicosCusto

Serviço da fatura
CONSUMO COMPARTILHADO                       8530.31
2GB - PACOTE INTERNET ILIMITADO             8399.53
INT. REGIONAL                               6636.68
GESTOR ONLINE - CONTROLE COMPLETO           5422.66
INT. NACIONAL                               4326.91
CLARO-OUTRAS OP.                            4231.16
5GB - PACOTE INTERNET ILIMITADO             2555.26
CLARO-CLARO                                 1660.03
CLARO-FIXO                                  1416.67
ASSINATURA PLANO SOB MEDIDA                 1099.96
SERVICO TARIFA ZERO                         1098.80
PACOTE 10000 SMS COMPARTILHADO               990.00
COBRANCA APARELHO CELULAR LG K4              592.52
A COBRAR                                     502.60
TORPEDOS                                     303.18
COBRANCA APARELHO CELULAR S.J105MINI         302.00
PCT ROAMING INTERNACIONAL 100MB MUNDO        289.90
INTERNET (MB)                                199.75
PCT ROAMING INTERNACIONAL 50 MIN MUNDO       129.89
PCT ROAMING INTERNACIONAL 100MB AMERICAS     129.89
PACOTE INDIVIDUAL DE SMS - FRANQUIA           54.10
PACOTE ADICIONAL INTERNET 2GB - 16/01/20      46.90
PCT ROAMING INTERNACIONAL 25 MIN AMERICA      44.90
FORA DA REDE CLARO                            33.84
REC. EM VIAGEM                                23.33
SECRETARIA CLARO                              12.18
OUTROS SERVICOS TELECOM                       11.40
TORPEDOS ENVIADOS NO EXTERIOR                  8.00
INTERNACIONAL                                  1.07
TARIFA ZERO                                    0.00
CHAMADA 0800                                   0.00
LIGACOES FEITAS NO EXTERIOR                    0.00
INTERNET (COBRANCA DIARIA OU POR MB)           0.00
PACOTE 1.000 SMS - INDIVIDUAL                  0.00
LIGACOES RECEBIDAS NO EXTERIOR - OPERADO       0.00
PACOTE INDIVIDUAL DE SMS                       0.00
CREDITOS ANTERIORES                          -82.00
Name: Valor fatura, dtype: float64

In [13]:
#Identifying weekly usage profile
servicosUso = df
servicosUso1 = servicosUso[(servicosUso.Categoria=='VC1') | (servicosUso.Categoria=='VC2') | (servicosUso.Categoria=='VC3') | (servicosUso.Categoria=='EVT')]
servicosUso = servicosUso1.pivot_table(index='Dia', values='Valor fatura', aggfunc=np.sum).sort_values(ascending=False)
servicosUso = servicosUso.loc[['DOM','SEG','TER','QUA','QUI','SEX','SAB']]
servicosUso

Dia
DOM     986.52
SEG    2697.70
TER    2861.83
QUA    3814.55
QUI    3440.92
SEX    3272.49
SAB    1243.46
Name: Valor fatura, dtype: float64

In [14]:
#Identifying time used
horarioUso = servicosUso1.pivot_table(index='Hora serviço', values='Valor fatura', aggfunc=np.sum).sort_values(ascending=False)
horarioUso.groupby(horarioUso.index.hour).agg(['sum','count'])

#horarioUso.groupby(horarioUso.index.hour).sum()
#horarioUso.groupby(horarioUso.index.hour).count()

        sum  count
0     75.72    350
1     56.51    240
2     60.65    227
3     32.82    207
4     47.09    189
5    102.52    265
6    186.02    798
7    391.63   1741
8   1187.93   2959
9   1549.48   3185
10  1752.60   3181
11  1455.79   3106
12   931.82   2579
13   958.94   2663
14  1496.10   3003
15  1562.82   3019
16  1391.41   2911
17  1239.25   2887
18  1012.01   2462
19   875.04   2032
20   643.02   1695
21   657.14   1400
22   419.96    981
23   231.20    654

In [15]:
#Identifying most DDD called
ddd = df['Destino'].str[:2]
ddd.value_counts()

81    13239
87     2396
71      247
40      168
84       93
11       71
21       45
83       38
82       12
74       11
61        8
79        8
98        5
19        5
75        5
88        4
31        3
48        3
77        2
85        2
73        2
12        2
45        2
17        2
34        2
32        1
99        1
92        1
63        1
89        1
91        1
27        1
Name: Destino, dtype: int64

In [16]:
#Identifying hours
hora = df[['Hora serviço', 'Valor fatura']]
hora = hora.set_index(['Hora serviço'])
hora = hora.groupby(pd.TimeGrouper(freq='60Min')).agg(['sum','count'])

hora

                    Valor fatura
                             sum  count
Hora serviço
1900-01-01 00:00:00     29715.19   9586
1900-01-01 01:00:00       182.08   2221
1900-01-01 02:00:00        81.45    734
1900-01-01 03:00:00        40.90    532
1900-01-01 04:00:00        54.66    529
1900-01-01 05:00:00       108.25    674
1900-01-01 06:00:00       206.59   1788
1900-01-01 07:00:00       424.00   5223
1900-01-01 08:00:00      1244.12  12345
1900-01-01 09:00:00      1637.07  13479
1900-01-01 10:00:00      1816.51  12947
1900-01-01 11:00:00      1518.67  11914
1900-01-01 12:00:00       984.71   7551
1900-01-01 13:00:00      1037.15   8175
1900-01-01 14:00:00      1556.12  10974
1900-01-01 15:00:00      1628.88  10933
1900-01-01 16:00:00      1463.77  10331
1900-01-01 17:00:00      1267.84   9178
1900-01-01 18:00:00      1052.43   6187
1900-01-01 19:00:00       910.62   4365
1900-01-01 20:00:00       681.25   3428
1900-01-01 21:00:00       680.28   2514
1900-01-01 22:00:00       432.02   1917
1900-01-01 23:00:00       246.86   1601

In [99]:
#Identifying hours
duracao = servicosUso1[['Qtde tarifada', 'Valor fatura']]
duracao = duracao.rename(columns={'Qtde tarifada': 'QtdeTarifada'})
#duracao = duracao.set_index('Qtde tarifada')
#ranges = [0,10,20,30,40,50,60,70,80,90,100]
ranges = np.arange(0,160,10)

duracao = duracao.groupby(pd.cut(duracao.QtdeTarifada, ranges)).agg(['sum','count']).fillna(0)
duracao

             QtdeTarifada        Valor fatura
                      sum  count          sum  count
QtdeTarifada
(0, 10]          143685.4  79119     13873.65  79119
(10, 20]          21038.6   1567      2560.71   1567
(20, 30]           6285.6    263       895.54    263
(30, 40]           3013.7     89       594.09     89
(40, 50]           1296.5     29       151.61     29
(50, 60]            432.8      8        57.45      8
(60, 70]            331.0      5        90.14      5
(70, 80]            150.5      2        56.60      2
(80, 90]             84.5      1         8.14      1
(90, 100]             0.0      0         0.00      0
(100, 110]          108.6      1         8.68      1
(110, 120]          119.0      1         9.52      1
(120, 130]            0.0      0         0.00      0
(130, 140]            0.0      0         0.00      0
(140, 150]          141.8      1        11.34      1

In [ ]:
Gráficos
Serviços que geram maior custo [OK]
Horário mais utilizado por hora [OK]
Custo por data [OK]
Duração das chamadas [OK]
Perfil Semanal da conta [OK]
Origem com maior gasto [OK]
Destino com maior custo [OK]
DDD mais chamado [OK]